$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.colours {
  padding-top: 20px;
  .colour {
    a {
      color: #333;
    }
    .circle {
      $size: 12px;

      height: $size;
      width: $size;
      border-radius: $size;
      display: inline-block;
      margin-right: $size - 4;
    }
  }
}

.large-display {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  color: #FFF;
  h1 {
    align-self: center;
  }
  .hide {
    display: none;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
